.App {
  text-align: center;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.selected {
  background-color: gainsboro;
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.custom-container {
  border-radius: 20px; /* Adjust the value for the level of beveling */
}

.center-row {
  display: flex;
  justify-content: center;
}

.column {
  background-color: white;
  border-radius: 20px; /* Adjust the value for the level of beveling */
  padding: 20px;
  text-align: center;
}

.sub-column {
  background-color: white;
  border-radius: 20px; /* Adjust the value for the level of beveling */
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
